{
    "parser": "babel-eslint",
    "extends": "airbnb/base",
    "env": {
        "browser": true,
        "jest": true,
        "node": true
    },
    "rules": {
        "indent": ["error", 4],
        "no-console": "error",
        "import/no-extraneous-dependencies": ["off"],
        "no-underscore-dangle": ["error", {
            "allowAfterThis": true,
            "allowAfterSuper": true
        }],
        "comma-dangle": ["error", {
            "functions": "never",
            "arrays": "always-multiline",
            "objects": "always-multiline",
            "imports": "always-multiline",
            "exports": "always-multiline",
        }],
        "max-len": ["error", 80],
        "no-warning-comments": ["warn", {
            "terms": ["todo", "@todo"],
            "location": "start"
        }]
    }
}
